@charset "utf-8";

@import "~bulma/bulma.sass";

.section > .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  grid-gap: 0.75em;
}

.card-content {
  display: block;
  min-height: 300px;
}

.card {
  height: max-content;
}
